In [16]:
import tabula
import pandas as pd

In [17]:
dfs = tabula.read_pdf('./Events.pdf', pages="all")
len(dfs)

2

In [18]:
df = dfs[0]
df.columns = ["Name", "Onsite Only", "Level", "Type", "# of Members", "State Entry Limit", "National Entry Limit"]
df = df[1:].reset_index(drop=True)

In [19]:
df1 = dfs[1]
df1

,Technology Problem Solving,High School,bring toolbox,Team,2,2 per Chapter,1 per Chapter
0,Transportation Modeling,High School,NaN,Individual,1,3 per Chapter,1 per Chapter
1,Trebuchet,High School,NaN,Team,2-4,3 per Chapter,Not offered - State only
2,VEX Robotics,High School,NaN,Team,2-6,3 per Chapter,Not offered - State only
3,Video Game Design,High School,NaN,Team,2-6,3 per Chapter,5 per State
4,Virtual Reality Visualization (VR),High School,NaN,Ind or Team,1-6,3 per Chapter,1 per Chapter
5,Webmaster,High School,NaN,Team,2-6,2 per Chapter,1 per Chapter

In [20]:
first_entry = df1.columns
df1.loc[len(df)] = first_entry
df1.columns = ["Name", "Onsite Only", "Level", "Type", "# of Members", "State Entry Limit", "National Entry Limit"]

In [21]:
df = pd.concat([df, df1])
df.reset_index(inplace=True)
df.drop(["index", "Onsite Only"], axis=1, inplace=True)

In [22]:
df.head()

,Name,Level,Type,# of Members,State Entry Limit,National Entry Limit
0,Animation,High School,Ind or Team,1-6,3 per Chapter,Not offered - State only
1,Animatronics,High School,Team,2-3,3 per Chapter,3 per State
2,Architectural Design,High School,Ind or Team,1-6,3 per Chapter,1 per Chapter
3,Audio Podcasting,High School,Ind or Team,1-6,3 per Chapter,3 per State
4,Biotechnology Design,High School,Team,2-6,3 per Chapter,1 per Chapter

In [23]:
def parseMembers(row):
    ret = {}
    try:
        members = row["# of Members"]
        ret["minMembers"] = int(members[0])
        if("-" in members):
            ret["maxMembers"] = int(members[2])
        else:
            ret["maxMembers"] = int(members[0])

        return pd.Series(ret)
    except:
        return pd.Series({"minMembers": -1, "maxMembers": -1})

df[["minMembers", "maxMembers"]] = df.apply(parseMembers, axis=1)

In [24]:
def teamsAtStates(row):
    ret= {}
    state = row["State Entry Limit"]

    if(state == "No Limit"):
        ret["maxTeams"] = 10000
    else:
        ret["maxTeams"] = int(state[0])

    return pd.Series(ret)

df["maxTeams"] = df.apply(teamsAtStates, axis=1)

In [25]:
df.head()

,Name,Level,Type,# of Members,State Entry Limit,National Entry Limit,minMembers,maxMembers,maxTeams
0,Animation,High School,Ind or Team,1-6,3 per Chapter,Not offered - State only,1,6,3
1,Animatronics,High School,Team,2-3,3 per Chapter,3 per State,2,3,3
2,Architectural Design,High School,Ind or Team,1-6,3 per Chapter,1 per Chapter,1,6,3
3,Audio Podcasting,High School,Ind or Team,1-6,3 per Chapter,3 per State,1,6,3
4,Biotechnology Design,High School,Team,2-6,3 per Chapter,1 per Chapter,2,6,3

In [26]:
import firebase_admin
from firebase_admin import firestore
import dotenv
import os

In [27]:
dotenv.load_dotenv(".env.local")

True

In [28]:
cred = firebase_admin.credentials.Certificate('./service_account.json')

try:
    firebase = firebase_admin.initialize_app(cred)
except:
    pass

db = firestore.client()

In [29]:
def add_to_firebase(row):
    data = {"name": row["Name"], "minMembers": row["minMembers"], "maxMembers": row["maxMembers"], "maxTeams": row["maxTeams"], "teams": []}
    ret = {}
    try:
        db.collection("Events").add(data)
        ret["Added"] = True
    except:
        ret["Added"] = False

    return pd.Series(ret)

df["Added"] = df.apply(add_to_firebase, axis=1)

In [30]:
df

,Name,Level,Type,# of Members,State Entry Limit,National Entry Limit,minMembers,maxMembers,maxTeams,Added
0,Animation,High School,Ind or Team,1-6,3 per Chapter,Not offered - State only,1,6,3,True
1,Animatronics,High School,Team,2-3,3 per Chapter,3 per State,2,3,3,True
2,Architectural Design,High School,Ind or Team,1-6,3 per Chapter,1 per Chapter,1,6,3,True
3,Audio Podcasting,High School,Ind or Team,1-6,3 per Chapter,3 per State,1,6,3,True
4,Biotechnology Design,High School,Team,2-6,3 per Chapter,1 per Chapter,2,6,3,True
5,Board Game Design,High School,Team,2-6,3 per Chapter,1 per Chapter,2,6,3,True
6,Career Prep,High School,Individual,1,3 per Chapter,Not offered - State only,1,1,3,True
7,Children's Stories,High School,Ind or Team,1-6,3 per Chapter,3 per State,1,6,3,True
8,Coding,High School,X Team,2,3 per Chapter,3 per State,2,2,3,True
9,"Computer-Aided Design 2D, Architecture",High School,X Individual,1,3 per Chapter,2 per State,1,1,3,True
10,"Computer-Aided Design 3D, Engineering",High School,X Individual,1,3 per Chapter,2 per State,1,1,3,True
11,Concept Art,High School,Individual,1,3 per Chapter,Not offered - State only,1,1,3,True
12,Data Science and Analytics,High School,Ind or Team,1-2,3 per Chapter,3 per State,1,2,3,True
13,Debating Technology Issues,High School,Team,2,2 per Chapter,3 per State,2,2,2,True
14,Digital Video Production,High School,Ind or Team,1-6,3 per Chapter,3 per State,1,6,3,True
15,Dragster Design,High School,Individual,1,3 per Chapter,2 per Chapter,1,1,3,True
16,Drone Challenge (UAV),High School,Team,2-6,3 per Chapter,3 per State,2,6,3,True
17,Engineering Design,High School,Team,3-6,5 per Chapter,3 per State,3,6,5,True
18,Extemporaneous Speech,High School,X Individual,1,2 per Chapter,3 per State,1,1,2,True
19,Fashion Design and Technology,High School,Team,2-4,3 per Chapter,5 per State,2,4,3,True
20,Flight Endurance,High School,Individual,1,3 per Chapter,2 per Chapter,1,1,3,True
21,Forensic Science,High School,bring toolbox Team,2,3 per Chapter,1 per Chapter,2,2,3,True
22,Future Technology Teacher,High School,Individual,1,3 per Chapter,3 per Chapter,1,1,3,True
23,Geospatial Technology,High School,Team,2-3,3 per Chapter,1 per Chapter,2,3,3,True
24,Infographic,High School,Individual,1,3 per Chapter,Not offered - State only,1,1,3,True
25,Manufacturing Prototype,High School,Team,2-6,3 per Chapter,1 per Chapter,2,6,3,True
26,Music Production,High School,Ind or Team,1-6,3 per Chapter,3 per State,1,6,3,True
27,On Demand Video,High School,bring equipment Team,2-6,1 per Chapter,1 per Chapter,2,6,1,True
28,Photographic Technology,High School,Individual,1,3 per Chapter,1 per Chapter,1,1,3,True
29,Prepared Presentation,High School,Individual,1,2 per Chapter,3 per State,1,1,2,True
30,Promotional Design,High School,Individual,1,3 per Chapter,3 per State,1,1,3,True
31,Robotics Challenge,High School,Team,2-6,3 per Chapter,3 per State,2,6,3,True
32,Senior Solar Sprint,High School,Team,2-4,3 per Chapter,1 per Chapter,2,4,3,True
33,Silent Film,High School,Team,2-6,2 per Chapter,Not offered - State only,2,6,2,True
34,Software Development,High School,Team,2-6,3 per Chapter,1 per Chapter,2,6,3,True
35,STEM Mass Media,High School,Team,2-3,2 per Chapter,1 per Chapter,2,3,2,True
36,Structural Design & Engineering,High School,Team,2,No Limit,1 per Chapter,2,2,10000,True
37,System Control Technology,High School,Team,3,3 per Chapter,2 Per State,3,3,3,True
38,Technology Bowl,High School,X Team,3,1 per Chapter,1 per Chapter,3,3,1,True
39,Transportation Modeling,NaN,Individual,1,3 per Chapter,1 per Chapter,1,1,3,True
40,Trebuchet,NaN,Team,2-4,3 per Chapter,Not offered - State only,2,4,3,True
41,VEX Robotics,NaN,Team,2-6,3 per Chapter,Not offered - State only,2,6,3,True
42,Video Game Design,NaN,Team,2-6,3 per Chapter,5 per State,2,6,3,True
43,Virtual Reality Visualization (VR),NaN,Ind or Team,1-6,3 per Chapter,1 per Chapter,1,6,3,True
44,Webmaster,NaN,Team,2-6,2 per Chapter,1 per Chapter,2,6,2,True
45,Technology Problem Solving,bring toolbox,Team,2,2 per Chapter,1 per Chapter,2,2,2,True